# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Environments
env/
venv/
ENV/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# OS specific
.DS_Store
Thumbs.db
